#searchBox{
    padding-left:0 ;
    padding-right: 5px;
    margin-bottom: 0;
}

#searchBtn{
    background-color:#20315A ;
}

#row1{
    margin: 0;
    padding: 10px;
}

#weatherCard{
    padding: 10px;
}


.low{
    background-color: green;
}

.moderate{
    background-color: yellow;
}

.high{
    background-color:orange;
}

.veryHigh{
    background-color: red;
}

.extreme{
    background-color: purple;
}

.low, 
.moderate, 
.high, 
.veryHigh, 
.extreme{
    padding: 5px;

}

.forecastCard{
    display: inline-block !important;
    width: 18% !important;
    margin-right: 10px;
    padding: 5px;
    height: 250px;
    color: white;
    background-color: #20315A !important;
}